@model TMApp.Models.Register
@{
     ViewBag.Title = "PasswordView";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <div class="container"> 
        <fieldset style="border-radius:10px;background-color:ghostwhite;color:black">
            @Html.AntiForgeryToken();
            @using (Html.BeginForm("EditPwd", "Register", FormMethod.Post))
            {
                <div class="form-group row">
                    @*@Html.LabelFor(model => model.Password, new { @class = "col-sm-2 col-form-label", })*@
                    @Html.Label("Old Password", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "...........", @type = "password", @required = "required" })

                        <p style="color:red"> @Html.ValidationMessageFor(model => model.Password)</p>


                    </div>
                    <div>

                    </div>
                </div>

                <br /><br />
                <div class="form-group row">
                    @*@Html.LabelFor(model => model.Password, new { @class = "col-sm-2 col-form-label", })*@
                    @Html.Label("New Password", new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "...........", @type = "password", @required = "required" })

                        <p style="color:red"> @Html.ValidationMessageFor(model => model.Password)</p>


                    </div>
                    <div>

                    </div>
                </div>
                <br />
                <div class="form-check" style="padding-left: 200px">
                    <button class="btn" id="set" style="background-color:lightsteelblue;color:black;width:80px;height:40px;font-size:large;">Save</button>
                    <button class="btn" id="cancel" style="background-color:lightsteelblue;color:black;width:80px;height:40px;font-size:large;">Cancel</button>
                    </div>

                    }
            </fieldset>
    </div>
