@model TMApp.Models.Register
    
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container" style="padding-left:200px" >
        <br /><br /><br /><br /><br />
        <div id="Login-Div" style="height:400px; width:400px;border-radius:10px;position:center;background-color:ghostwhite">
            <br />

            <h2 class="bg-transparent" style="color:#000000;text-align:center;padding-top:10px">Sign In</h2>
            <br />
            @using (Html.BeginForm("Authorize", "Login", FormMethod.Post))
            {
                        @Html.AntiForgeryToken();
            <div class="form-control-file" id="login" style="padding-left:20px;padding-right:20px">


                <div class="form-group row" style="color:black">
                    @Html.LabelFor(model => model.Username, new { @class = "col-sm-2 col-form-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @placeholder = "Username", @type = "text" })
                    </div>
                    <p style="color:red"> @Html.ValidationMessageFor(model => model.Username)</p>
                </div>
                <br />


                <div class="form-group row" style="color:black">
                    @Html.LabelFor(model => model.Password, new { @class = "col-sm-2 col-form-label", })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @placeholder = "...........", @type = "password" })
                    </div>
                    <p style="color:red"> @Html.ValidationMessageFor(model => model.Password)</p>
                </div>
                <br />
                @*<div>
                   <p style="color:red">@Html.DisplayFor(model=>model.ErrorMessage)</p>
                </div>*@
                <br />
                <div class="form-check" style="padding-left:100px">
                    <button  @("Authorize")  class="btn" type="submit" id="SignUp" style="background-color:lightskyblue;width:80px;height:40px;font-size:large ;color:black">Sign In</button>
                    <button class="btn" type="reset" id="Cancel" style="background-color:lightskyblue;width:80px;height:40px;font-size:large ;display:inline; color:black">Cancel</button>

                </div>






            </div>
            }
        </div>

    </div>




