
@{
    ViewBag.Title = "UserPage";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



   


    <section id="blog" class="container">
        <div class="blog">
            <div class="row">
                <div class="col-md-8">
                    <div class="blog-item">
                        <div class="row">
                          

                            <div class="col-xs-12 col-sm-10 blog-content">
                                <a href="#"><img class="img-responsive img-blog" src="~/images/My pa1.jpg" width:100%" alt="" /></a>
                                <h4 style="color:lightsteelblue">Manage your Task</h4>
                                @*<p>
                                   The key is not to prioritize what is on your schedule but to schedule your priorities
                                </p>*@
                            </div>
                        </div>
                    </div>
                    <!--/.blog-item-->

                   

                   
                 
                </div>
               

  <aside class="col-md-4">
                
      <div>
       <span>
        <input @("LoadProfile") type="button" value="View Profile"
                style="background-color:lightsteelblue;width:120px;height:40px;font-size:large ;border-radius:10px; color:black">
       </span>
          <span id="UserEmail" style="color:black">@Session["Email"].ToString()</span>
                       
      </div>

        <br /><br />
      <div class="widget categories">

              <div class="row" style="background-color:lightsteelblue">
                            <h3>Recent Task</h3>
                            <div class="col-sm-12">
                                <div class="single_comments">

                                    <p id="TaskDescrip">AllLagos 2020</p>
                                    <div class="entry-meta small muted">
                                        <p id="date">@DateTime.Now</p>
                                    </div>
                                </div>

                                <div class="single_comments">

                                    <p id="TaskDescrip">Inspiring Change 2020</p>
                                    <div class="entry-meta small muted">
                                        <p id="date">@DateTime.Now</p>
                                    </div>
                                </div>
                                <div class="single_comments">

                                    <p id="TaskDescrip">Shopping</p>
                                    <p>@DateTime.Now</p>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!--/.recent comments-->
                    <!--/.categories-->

  </aside>
            </div>
            <!--/.row-->
        </div>
    </section>
  
 



